# Predict

Importing librairies needed for the predict notebook

In [1]:
import pickle
import pandas as pd

## Loading trained models

Loading the three trained models and the final dataset

In [2]:
xg_reg = pickle.load(open('../Model/XGBoost.pkl', 
                          'rb'))
GradientBoosting = pickle.load(open('../Model/GradientBoOsting.pkl',
                                    'rb'))
RandomForest = pickle.load(open('../Model/RandomForest.pkl',
                                'rb'))

In [3]:
df_trimed = pd.read_csv("../Data/dataset_test_final.csv")

In [4]:
df_trimed_train = pd.read_csv("../Data/dataset_final.csv")

In [5]:
df_trimed_train

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house
0,1,0,202500.0,406597.5,24700.5,351000.0,9461,637,3648.0,2120,...,0,0,0,0,0,0,0,1,0,0
1,0,0,270000.0,1293502.5,35698.5,1129500.0,16765,1188,1186.0,291,...,0,0,0,0,0,0,0,1,0,0
2,0,0,67500.0,135000.0,6750.0,135000.0,19046,225,4260.0,2531,...,0,0,0,0,0,0,0,0,0,0
3,0,0,135000.0,312682.5,29686.5,297000.0,19005,3039,9833.0,2437,...,0,0,0,0,0,0,0,0,0,0
4,0,0,121500.0,513000.0,21865.5,513000.0,19932,3038,4311.0,3458,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252132,0,0,153000.0,331920.0,16096.5,225000.0,16705,7258,9798.0,259,...,0,0,0,0,0,0,0,0,0,0
252133,0,0,157500.0,254700.0,27558.0,225000.0,9327,236,8456.0,1982,...,0,0,0,0,0,0,0,1,0,0
252134,0,0,153000.0,677664.0,29979.0,585000.0,14966,7921,6737.0,5150,...,0,0,0,0,0,0,0,1,0,0
252135,1,0,171000.0,370107.0,20205.0,319500.0,11961,4786,2562.0,931,...,0,0,0,0,0,0,0,1,0,0
252136,0,0,157500.0,675000.0,49117.5,675000.0,16856,1262,5128.0,410,...,0,0,0,0,0,0,0,1,0,0

In [6]:
df_trimed

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,...,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,CODE_GENDER_XNA,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_FAMILY_STATUS_Unknown
0,0,135000.0,568800.0,20560.5,450000.0,19241,2329,5170.0,812,-1.0,...,0,0,0,1,0,0,0,0,0,0
1,0,99000.0,222768.0,17370.0,180000.0,18064,4469,9118.0,1623,-1.0,...,0,0,0,0,0,0,0,0,0,0
2,0,202500.0,663264.0,69777.0,630000.0,20038,4458,2175.0,3503,5.0,...,1,0,0,0,0,0,0,0,0,0
3,2,315000.0,1575000.0,49018.5,1575000.0,13976,1866,2000.0,4208,-1.0,...,0,0,0,1,0,0,0,0,0,0
4,1,180000.0,625500.0,32067.0,625500.0,13040,2191,4000.0,4262,16.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,0,121500.0,412560.0,17473.5,270000.0,19970,5169,9094.0,3399,-1.0,...,0,0,0,0,0,0,0,0,0,0
39466,2,157500.0,622413.0,31909.5,495000.0,11186,1149,3015.0,3003,-1.0,...,0,0,0,0,0,0,0,0,0,0
39467,1,202500.0,315000.0,33205.5,315000.0,15922,3037,2681.0,1504,4.0,...,0,0,0,1,0,0,0,0,0,0
39468,0,225000.0,450000.0,25128.0,450000.0,13968,2731,1461.0,1364,-1.0,...,0,0,0,1,0,0,0,0,0,0
39469,0,135000.0,312768.0,24709.5,270000.0,13962,633,1072.0,4220,22.0,...,0,0,0,0,0,0,0,0,0,0

# Random predictions on test dataset

Prediction on the 10 first row of the test dataset

In [17]:
predictionXG = xg_reg.predict(df_trimed.iloc[:10,])
predictionGB = GradientBoosting.predict(df_trimed.iloc[:10,])
predictionRF = RandomForest.predict(df_trimed.iloc[:10,])
print("prediction with XGBoost : ", predictionXG)
print("prediction with Gradient Boosting : ", predictionGB)
print("prediction with Random Forest : ", predictionRF)

prediction with XGBoost :  [0 0 0 0 0 0 0 0 0 0]
prediction with Gradient Boosting :  [0 0 0 0 0 0 0 0 0 0]
prediction with Random Forest :  [0 0 0 0 0 0 0 0 0 0]

D:\Anaconda\envs\ABD\lib\site-packages\sklearn\base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)
D:\Anaconda\envs\ABD\lib\site-packages\sklearn\base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)